In [1]:
import numpy as np
import pandas as pd
np.random.seed(1)

In [2]:

full_labels = pd.read_csv('geolearning_labels.csv')

In [3]:
full_labels.head()

,filename,width,height,class,xmin,ymin,xmax,ymax
0,alcorcon_sur_40.3311946_-3.8314931.jpg,640,640,rotonda,263,413,394,535
1,alcorcon_sur_40.3311946_-3.8350031.jpg,640,640,rotonda,290,361,404,475
2,alcorcon_sur_40.3311946_-3.8385131.jpg,640,640,rotonda,515,385,591,462
3,alcorcon_sur_40.3311946_-3.8420231.jpg,640,640,piscina,132,108,157,141
4,alcorcon_sur_40.3311946_-3.8420231.jpg,640,640,rotonda,261,376,377,488

In [4]:
grouped = full_labels.groupby('filename')

In [5]:

grouped.apply(lambda x: len(x)).value_counts()

1     48
2     43
3     29
4     25
5     18
6     16
7     14
13     7
9      6
11     4
8      4
10     4
17     3
24     2
16     2
15     2
12     2
44     1
36     1
18     1
19     1
20     1
22     1
25     1
26     1
31     1
33     1
14     1
dtype: int64

In [6]:
gb = full_labels.groupby('filename')
grouped_list = [gb.get_group(x) for x in gb.groups]

len(grouped_list)

240

In [7]:
train_index = np.random.choice(len(grouped_list), size=200, replace=False)
test_index = np.setdiff1d(list(range(240)), train_index)

In [8]:
len(train_index), len(test_index)

(200, 40)

In [9]:
# take first 200 files
train = pd.concat([grouped_list[i] for i in train_index])
test = pd.concat([grouped_list[i] for i in test_index])

In [10]:
len(train), len(test)

(1050, 289)

In [11]:
train.to_csv('train_labels.csv', index=None)
test.to_csv('test_labels.csv', index=None)